<div class="container">
<div class="row">
<div class="col-md-12">

    <div class="row">
        <div class="col-xs-12">
            <div class="row form-group">
                <label class="col-md-1" for="task">Task</label>
                <input class="col-md-3" type="text" [(ngModel)]="task.task" name="task">
                <label class="col-md-2" for="parentTask">Parent Task</label>
                <input class="col-md-3" type="text" [(ngModel)]="task.parentTask" name="parentTask" >
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-xs-12">
                <div class="row form-group">
                    <label for="priority"  class="col-md-1" >Priority From</label>
                    <input class="col-md-1" type="text" [(ngModel)]="task.priorityFrom" name="priorityFrom" >
                    <label for="parent"  class="col-md-1" >Priority To</label>
                    <input class="col-md-1" type="text" [(ngModel)]="task.priorityTo" name="priorityTo"  >
                    <label class="col-md-2" for="startDate" >Start Date</label>
                    <input class="col-md-2" type="text" [(ngModel)]="task.startDate" name="startDate"  >
                    <label class="col-md-2" for="endDate" >End Date</label>
                    <input class="col-md-2" type="text" [(ngModel)]="task.endDate"  name="endDate"  >
                </div>
            </div>
        </div>
</div>
</div>
</div>
<hr>
<ul *ngFor="let task of taskList | filter : 'task' : task.task | filter : 'parentTask' : task.parentTask  
| filter : 'priorityFrom' : task.priorityFrom | filter : 'priorityTo' : task.priorityTo
| filter : 'startDate' : task.startDate | filter : 'endDate' : task.endDate ; let i = index">
<div class="row">
       
          <label class="col-md-2">Task</label>
          <label class="col-md-2">Parent</label>
          <label class="col-md-2">Priority</label>
          <label class="col-md-2">Start</label>
          <label class="col-md-2">End</label>
       
</div>
<div class="row">
        <div class="col-md-2">{{task.task}}</div>
        <div class="col-md-2">{{task.parentTask}}</div>
        <div class="col-md-2">{{task.priority}}</div>
        <div class="col-md-2">{{task.startDate | date:'dd-MM-yyyy'}}</div>
        <div class="col-md-2">{{task.endDate  | date:'dd-MM-yyyy'}}</div>
        <div *ngIf="task.status === 'A'">
        <button type="button" (click)="editTask(task)" class="btn btn-success" >Edit</button> 
        <button type="button" class="btn btn-success" (click)="endTask(task)">End Task</button> 
        </div>
</div>                
<hr>
    </ul>
    <router-outlet></router-outlet>

